@import "tailwindcss";

@theme {
  --color-brand-primary: #17252A;
  --color-brand-sec: #3AAFA9;
  --color-brand-text-1: #2B7A78;
  --color-brand-text-2: #DEF2F1;
  --color-brand-text-3: #FEFFFF;
  --color-brand-bg: #FEFFFF;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Inter, system-ui, -apple-system, sans-serif;
  background-color: var(--color-brand-bg);
  color: var(--color-brand-text-1);
}